In [1]:
import numpy as np 
import pandas as pd

# Note:- 

- To know about the pandas in depth, we have to focus on the fundamental of pandas datastructure.
    - Heare we will look the data types, indexing, and axis labeling.
---
- Note : - The  link between the labels and data will not be broken unless done so explicitly by you.

# Series

1.Series is one dimensional labeled arry capable of holding any datatype (int, string, float, Python objects, etc)
2.Axies are collectively referred as index.

```python 
s = pd.Series(data, index=indedx)
```

- Heare, data can be any :-
    + a python dict
    + an ndarray 
    + a scalar value (like 5)

In [7]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d","e",],)

In [8]:
s

a    1.303526
b    1.844196
c    0.144112
d   -0.495163
e    0.770058
dtype: float64

In [9]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
pd.Series(np.random.randn(5),)

0   -0.342268
1    1.237271
2   -0.086921
3   -0.338324
4    0.575588
dtype: float64

## From dict

In [13]:
from_dict = {"Apple":20, "Google":25, "Nokia":23}

In [15]:
pd.Series(from_dict)

Apple     20
Google    25
Nokia     23
dtype: int64

In [17]:
pd.Series(from_dict, index=["Apple","Samsung","Google","Nokia"], )

Apple      20.0
Samsung     NaN
Google     25.0
Nokia      23.0
dtype: float64

- Guys now we are able to see NaN values , which means the not a number,it is standered missing data marker in pandas.

## from scalar value

In [19]:
pd.Series(5.0, index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

-If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

In [21]:
s[0]

1.3035260754540867

In [22]:
s[:3]

a    1.303526
b    1.844196
c    0.144112
dtype: float64

In [23]:
s[s > s.median()]

a    1.303526
b    1.844196
dtype: float64

In [24]:
s[[4,3,2,]]

e    0.770058
d   -0.495163
c    0.144112
dtype: float64

In [25]:
s.array

<PandasArray>
[  1.3035260754540867,   1.8441962411525286,  0.14411188079271048,
 -0.49516284242456227,   0.7700576806410631]
Length: 5, dtype: float64

In [26]:
## if We have to convert the series to numpy we have to use the `Series.to_numpy()`, and it will return the NumPy ndarray

In [27]:
s.to_numpy()

array([ 1.30352608,  1.84419624,  0.14411188, -0.49516284,  0.77005768])

In [28]:
## Series is Dict like

In [29]:
s["a"]

1.3035260754540867

In [30]:
s["e"] = 12

In [31]:
s

a     1.303526
b     1.844196
c     0.144112
d    -0.495163
e    12.000000
dtype: float64

In [32]:
"a" in s

True

In [33]:
"g" in s

False

In [34]:
s["f"]

KeyError: 'f'

In [35]:
s.get("f")

In [36]:
s

a     1.303526
b     1.844196
c     0.144112
d    -0.495163
e    12.000000
dtype: float64

In [37]:
s.get("f", np.nan)

nan

In [38]:
s

a     1.303526
b     1.844196
c     0.144112
d    -0.495163
e    12.000000
dtype: float64

In [39]:
## let do some opretions with Series

In [40]:
s + s

a     2.607052
b     3.688392
c     0.288224
d    -0.990326
e    24.000000
dtype: float64

In [41]:
s+1

a     2.303526
b     2.844196
c     1.144112
d     0.504837
e    13.000000
dtype: float64

In [42]:
s[1:] + s[:-1]

a         NaN
b    3.688392
c    0.288224
d   -0.990326
e         NaN
dtype: float64

In [43]:
## we can give the specific name to series

In [44]:
my_series = pd.Series(np.random.randn(4), name="something")

In [45]:
my_series

0    1.184538
1   -0.979999
2    0.170666
3   -0.560519
Name: something, dtype: float64

In [46]:
another = my_series.rename("different")

In [47]:
another.name

'different'

In [48]:
my_series

0    1.184538
1   -0.979999
2    0.170666
3   -0.560519
Name: something, dtype: float64

In [49]:
## note : - we rename sucessfully but the my_series and another refer to different Objects.

# DataFrame

DataFrame may contains the Series, 2 Dimentional Array, python dict, etc

In [51]:
d = {
    "one":pd.Series([1,2,3,], index=['a', 'b', 'c'],),
    "two":pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'],),
}

In [52]:
df = pd.DataFrame(d)

In [53]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [56]:
pd.DataFrame(d, index=["d", "b","a" ])

   one  two
d  NaN    4
b  2.0    2
a  1.0    1

In [58]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "Three"])

   two Three
d    4   NaN
b    2   NaN
a    1   NaN

In [59]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "Three","one"])

   two Three  one
d    4   NaN  NaN
b    2   NaN  2.0
a    1   NaN  1.0

-The row and column labels can be accessed respectively by accessing the index and columns attributes:

In [60]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [62]:
df.columns

Index(['one', 'two'], dtype='object')

--------

# Column selection, addition, deletion

In [67]:
df["one"]

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [68]:
df["two"]

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [69]:
df["three"] = df["one"] * df['two']

In [70]:
df["three"]

a    1.0
b    4.0
c    9.0
d    NaN
Name: three, dtype: float64

In [76]:
df["flag"] = df["one"] < df["three"]

In [77]:
df["flag"]

a    False
b     True
c     True
d    False
Name: flag, dtype: bool

In [78]:
df

   one  two  three   flag
a  1.0    1    1.0  False
b  2.0    2    4.0   True
c  3.0    3    9.0   True
d  NaN    4    NaN  False

In [79]:
del df["two"]

In [80]:
df

   one  three   flag
a  1.0    1.0  False
b  2.0    4.0   True
c  3.0    9.0   True
d  NaN    NaN  False

In [81]:
three = df.pop('three')

In [82]:
df

   one   flag
a  1.0  False
b  2.0   True
c  3.0   True
d  NaN  False

In [83]:
three

a    1.0
b    4.0
c    9.0
d    NaN
Name: three, dtype: float64